#przyklad1_content {
  margin-top: 10px;
  font-size: 16px;
  color: darkgreen;
}

#przyklad2_content {
  margin-top: 10px;
  font-size: 14px;
  color: blue;
}

  #przyklad3_progress_container {
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #000;
    height: 20px;
    margin: 10px 0;
    position: relative;
  }

  #przyklad3_progress {
    width: 0;
    height: 100%;
    background-color: green;
    transition: width 0.3s;
  }

  #przyklad3_content {
    margin-top: 10px;
    font-size: 16px;
    color: darkred;
  }

}